<link href="~/Content/responsive.css" rel="stylesheet" />

<div class="rts-breadcrumb-area breadcrumb-bg bg_image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                <h3 class="title">Devam Eden Projeler</h3>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="bread-tag">
                    <a href="~/">Anasayfa</a>
                    <span> / </span>
                    <a href="#" class="active">Devam Eden Projeler</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h1 style="text-align:center; color:#4D4D4D">Pega Loft Konutları</h1>
<br />


<div class="row g-5 mb--60 " id="gallery-wrap-a" style="text-align:center">



    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/1.jpeg">
                <img src="~/images/pegaproje/loft/1.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/2.jpeg">
                <img src="~/images/pegaproje/loft/2.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/3.jpeg">
                <img src="~/images/pegaproje/loft/3.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/4.jpeg">
                <img src="~/images/pegaproje/loft/4.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/5.jpeg">
                <img src="~/images/pegaproje/loft/5.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/6.jpeg">
                <img src="~/images/pegaproje/loft/6.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/7.jpeg">
                <img src="~/images/pegaproje/loft/7.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/8.jpeg">
                <img src="~/images/pegaproje/loft/8.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/9.jpeg">
                <img src="~/images/pegaproje/loft/9.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/10.jpeg">
                <img src="~/images/pegaproje/loft/10.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/11.jpeg">
                <img src="~/images/pegaproje/loft/11.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/12.jpeg">
                <img src="~/images/pegaproje/loft/12.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/13.jpeg">
                <img src="~/images/pegaproje/loft/13.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/k1.jpg">
                <img src="~/images/pegaproje/loft/k1.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/k1.jpg">
                <img src="~/images/pegaproje/loft/k2.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/k3.jpg">
                <img src="~/images/pegaproje/loft/k3.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/k4.jpg">
                <img src="~/images/pegaproje/loft/k4.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/k5.jpg">
                <img src="~/images/pegaproje/loft/k5.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/k6.jpg">
                <img src="~/images/pegaproje/loft/k6.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/k7.jpg">
                <img src="~/images/pegaproje/loft/k7.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/loft/k8.jpg">
                <img src="~/images/pegaproje/loft/k8.jpg" />
            </a>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script>

      // First gallery
      Fancybox.bind(document.getElementById("gallery-wrap-a"), "[data-fancybox]", {
        // Your custom options
        wheel: "close"
      });

    </script>

}
