<link href="~/Content/responsive.css" rel="stylesheet" />

<div class="rts-breadcrumb-area breadcrumb-bg bg_image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                <h3 class="title">Devam Eden Projeler</h3>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="bread-tag">
                    <a href="~/">Anasayfa</a>
                    <span> / </span>
                    <a href="#" class="active">Devam Eden Projeler</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h1 style="text-align:center; color:#4D4D4D">Pega Life Konutları</h1>
<br />


<div class="row g-5 mb--60 " id="gallery-wrap-a" style="text-align:center">
    
   

        <div class="col-lg-4">
            <div class="thumbnail">
                <a data-fancybox="gallery" data-src="/images/pegaproje/life/i1.jpeg">
                    <img src="~/images/pegaproje/life/i1.jpeg" />
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <a data-fancybox="gallery" data-src="/images/pegaproje/life/i2.jpeg">
                    <img src="~/images/pegaproje/life/i2.jpeg" />
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail">
                <a data-fancybox="gallery" data-src="/images/pegaproje/life/i3.jpeg">
                    <img src="~/images/pegaproje/life/i3.jpeg" />
                </a>
            </div>
        </div>

    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i4.jpeg">
                <img src="~/images/pegaproje/life/i4.jpeg" />
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i5.jpeg">
                <img src="~/images/pegaproje/life/i5.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i6.jpeg">
                <img src="~/images/pegaproje/life/i6.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i7.jpeg">
                <img src="~/images/pegaproje/life/i7.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i8.jpeg">
                <img src="~/images/pegaproje/life/i8.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i9.jpeg">
                <img src="~/images/pegaproje/life/i9.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i10.jpeg">
                <img src="~/images/pegaproje/life/i10.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i11.jpeg">
                <img src="~/images/pegaproje/life/i11.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i12.jpeg">
                <img src="~/images/pegaproje/life/i12.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i13.jpeg">
                <img src="~/images/pegaproje/life/i13.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i14.jpeg">
                <img src="~/images/pegaproje/life/i14.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i15.jpeg">
                <img src="~/images/pegaproje/life/i15.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i16.jpeg">
                <img src="~/images/pegaproje/life/i16.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i17.jpeg">
                <img src="~/images/pegaproje/life/i17.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/i18.jpeg">
                <img src="~/images/pegaproje/life/i18.jpeg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/1.jpg">
                <img src="~/images/pegaproje/life/1.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/2.jpg">
                <img src="~/images/pegaproje/life/2.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/3.jpg">
                <img src="~/images/pegaproje/life/3.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/4.jpg">
                <img src="~/images/pegaproje/life/4.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/5.jpg">
                <img src="~/images/pegaproje/life/5.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/6.jpg">
                <img src="~/images/pegaproje/life/6.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/7.jpg">
                <img src="~/images/pegaproje/life/7.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/8.jpg">
                <img src="~/images/pegaproje/life/8.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/9.jpg">
                <img src="~/images/pegaproje/life/9.jpg" />
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <a data-fancybox="gallery" data-src="/images/pegaproje/life/10.jpg">
                <img src="~/images/pegaproje/life/10.jpg" />
            </a>
        </div>
    </div>
    
   
</div>

@section Scripts {
   <script src="~/Scripts/jquery.fancybox.pack.js"></script>
<script>

      // First gallery
      Fancybox.bind(document.getElementById("gallery-wrap-a"), "[data-fancybox]", {
        // Your custom options
        wheel: "close"
      });

</script>

    }
